*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    overflow-x: hidden;
}
$primary-color:#f34f3f;


p{
   font-family: 'Lora', serif;
   color: #4b4747;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}