@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Poppins:ital,wght@0,200;0,300;0,800;1,100&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&family=Lora:ital,wght@0,400;0,500;1,400;1,500&family=Montserrat:wght@300;400;500;600;700;800&family=Open+Sans:wght@300;400;500;600;700;800&family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700&family=Poppins:ital,wght@0,200;0,300;0,800;1,100&family=Raleway:wght@100;200;300;400;500;600;700;800;900&family=Roboto&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  overflow-x: hidden;
}

p {
  font-family: 'Lora', serif;
  color: #4b4747;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

h1 {
  color: brown;
}

.nav {
  padding: 20px;
  padding-bottom: 0;
  margin-top: 20px;
}

.nav .logo a img {
  width: 50%;
}

.nav .menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav .menu ul li {
  font-size: 13.5px;
  letter-spacing: 0.2px;
  font-weight: 500;
}

.nav .menu ul li:hover .shop {
  visibility: visible;
}

.nav .menu ul li:hover .home {
  visibility: visible;
}

.nav .menu ul li:hover .page {
  visibility: visible;
}

.nav .menu ul li:hover .portfolio {
  visibility: visible;
}

.nav .menu ul li:hover .blog {
  visibility: visible;
}

.nav .menu ul li:hover .element {
  visibility: visible;
}

.nav .menu ul li:first-child .menu-home {
  text-decoration: underline;
  text-underline-position: under;
}

.nav .menu ul li:hover:not(:first-child) span::after {
  width: 100%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.nav .menu ul li a {
  color: #1b1b1b;
  position: relative;
}

.nav .menu ul li a span::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  height: 1px;
  background-color: #070505;
  width: 0;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.nav .menu ul li .home {
  position: relative;
  visibility: hidden;
}

.nav .menu ul li .home ul {
  position: absolute;
  display: block;
  top: 0px;
  left: -32px;
  padding: 48px 33px;
  background-color: white;
  z-index: 4;
}

.nav .menu ul li .home ul li {
  line-height: 43px;
  width: 145px;
  height: 29px;
}

.nav .menu ul li .home ul li:first-child a {
  text-decoration: underline;
  text-underline-position: under;
}

.nav .menu ul li .home ul li:hover:not(:first-child) span::after {
  width: 100%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.nav .menu ul li .home ul a {
  color: #737373;
  font-size: 13px;
  position: relative;
}

.nav .menu ul li .home ul a span::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  height: 1px;
  background-color: #737373;
  width: 0;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.nav .menu ul li .page {
  position: relative;
  visibility: hidden;
}

.nav .menu ul li .page ul {
  position: absolute;
  display: block;
  top: 0px;
  left: -32px;
  padding: 48px 33px;
  background-color: white;
  z-index: 4;
}

.nav .menu ul li .page ul li {
  line-height: 43px;
  width: 145px;
  height: 29px;
}

.nav .menu ul li .page ul li:hover a::after {
  width: 100%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.nav .menu ul li .page ul a {
  color: #737373;
  font-size: 13px;
  position: relative;
}

.nav .menu ul li .page ul a::after {
  content: "";
  position: absolute;
  top: 15px;
  left: 0;
  height: 1px;
  background-color: #737373;
  width: 0;
  -webkit-transition: width 0.4s ease-in-out;
  transition: width 0.4s ease-in-out;
}

.nav .menu ul li .shop {
  position: absolute;
  top: 75px;
  left: 112px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  visibility: hidden;
  background-color: white;
  z-index: 4;
}

.nav .menu ul li .shop ul {
  margin-right: 100px;
  display: block;
  padding: 50px 33px;
  font-size: 25px;
  z-index: 4;
}

.nav .menu ul li .shop ul li {
  line-height: 43px;
  width: 192px;
  height: 40px;
}

.nav .menu ul li .shop ul li:first-child {
  color: black;
  font-size: 22px;
  font-family: "Playfair Display", serif;
}

.nav .menu ul li .shop ul li:hover a::after {
  width: 100%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.nav .menu ul li .shop ul li a {
  color: #737373;
}

.nav .menu ul li .shop ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #737373;
  position: absolute;
  top: 16px;
  left: 0;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.nav .menu ul li .portfolio {
  position: relative;
  visibility: hidden;
}

.nav .menu ul li .portfolio ul {
  position: absolute;
  top: 4px;
  left: -31px;
  width: 225px;
  padding: 36px 24px;
  background-color: white;
  z-index: 4;
  display: block;
}

.nav .menu ul li .portfolio ul li {
  line-height: 30px;
}

.nav .menu ul li .portfolio ul li:hover a::after {
  width: 100%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.nav .menu ul li .portfolio ul li:hover .extra-col {
  visibility: visible;
}

.nav .menu ul li .portfolio ul li:hover .extra-col2 {
  visibility: visible;
}

.nav .menu ul li .portfolio ul li a {
  color: #737373;
}

.nav .menu ul li .portfolio ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #737373;
  position: absolute;
  top: 16px;
  left: 0;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.nav .menu ul li .portfolio ul li i {
  font-size: 8px;
  margin-left: 20px;
  color: #737373;
}

.nav .menu ul li .portfolio ul li .short {
  font-size: 8px;
  margin-left: 30px;
}

.nav .menu ul li .portfolio ul li .extra-col {
  position: absolute;
  top: 87px;
  right: 6px;
  visibility: hidden;
}

.nav .menu ul li .portfolio ul li .extra-col ul li:hover a::after {
  width: 100%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.nav .menu ul li .portfolio ul li .extra-col ul li:hover a::after a {
  color: #737373;
}

.nav .menu ul li .portfolio ul li .extra-col ul li:hover a::after a::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #737373;
  position: absolute;
  top: 16px;
  left: 0;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.nav .menu ul li .portfolio ul li .extra-col2 {
  position: absolute;
  top: 117px;
  right: -28px;
  visibility: hidden;
}

.nav .menu ul li .portfolio ul li .extra-col2 ul li:hover a::after {
  width: 100%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.nav .menu ul li .portfolio ul li .extra-col2 ul li:hover a::after a {
  color: #737373;
}

.nav .menu ul li .portfolio ul li .extra-col2 ul li:hover a::after a::after {
  content: "";
  width: 100px;
  height: 1px;
  background-color: #737373;
  position: absolute;
  top: 16px;
  left: 0;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.nav .menu ul li .blog {
  position: relative;
  visibility: hidden;
}

.nav .menu ul li .blog ul {
  position: absolute;
  display: block;
  top: 0;
  right: -78px;
  width: 141px;
  padding: 27px 19px;
  background-color: white;
  z-index: 4;
}

.nav .menu ul li .blog ul li {
  line-height: 30px;
}

.nav .menu ul li .blog ul li:hover a::after {
  width: 100%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.nav .menu ul li .blog ul li:hover .post-extra {
  visibility: visible;
}

.nav .menu ul li .blog ul li a {
  color: #737373;
}

.nav .menu ul li .blog ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #737373;
  position: absolute;
  top: 16px;
  left: 0;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.nav .menu ul li .blog ul li i {
  margin-left: 15px;
  color: #737373;
  font-size: 8px;
}

.nav .menu ul li .blog .post-extra {
  position: absolute;
  top: 57px;
  right: -50px;
  visibility: hidden;
}

.nav .menu ul li .element {
  position: relative;
  visibility: hidden;
}

.nav .menu ul li .element ul {
  display: block;
  position: absolute;
  top: 0;
  left: -11px;
  width: 150px;
  padding: 38px 26px;
  background-color: white;
  z-index: 4;
}

.nav .menu ul li .element ul li {
  color: #737373;
  line-height: 30px;
  display: block;
}

.nav .menu ul li .element ul li:hover a::after {
  width: 100%;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.nav .menu ul li .element ul li:hover .item {
  visibility: visible;
}

.nav .menu ul li .element ul li i {
  position: absolute;
  right: 10px;
  padding-top: 10px;
  font-size: 8px;
}

.nav .menu ul li .element ul li a {
  color: #737373;
}

.nav .menu ul li .element ul li a::after {
  content: "";
  width: 0;
  height: 1px;
  background-color: #737373;
  position: absolute;
  top: 16px;
  left: 0;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}

.nav .menu ul li .element ul li .item {
  position: absolute;
  top: 0;
  right: -10px;
  visibility: hidden;
}

.nav .cart ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.nav .cart ul li {
  margin-left: 20px;
  font-weight: 500;
}

.nav .cart ul li:first-child i:hover {
  color: #f34f3f;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav .cart ul li a {
  color: #1b1b1b;
  font-size: 13px;
  letter-spacing: 0.1rem;
  position: relative;
}

.nav .cart ul li a .countProduct {
  background-color: #f34f3f;
  color: white;
  border-radius: 100%;
  border: 1px solid #f34f3f;
  width: 15px;
  height: 15px;
  text-align: center;
  font-weight: bold;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  position: absolute;
  top: -8px;
  right: -9px;
}

.nav .cart ul li a i {
  font-size: 20px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.nav .search-place {
  background-color: white;
  width: 180px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 12px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 140px;
  right: 250px;
  display: none;
}

.nav .search-place span {
  margin: 10px;
}

.nav .search-place i {
  margin: 10px;
  margin-left: 80px;
}

.mobile #mainbox {
  font-size: 24px;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  margin: 20px 40px;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  display: none;
}

.mobile .slide-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 0px;
  background-color: whitesmoke;
  z-index: 1;
  padding-top: 100px;
  overflow-x: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.mobile .slide-menu a {
  padding: 8px 8px 8px 64px;
  font-size: 20px;
  color: #1b1b1b;
  display: block;
}

.mobile .slide-menu .close-btn {
  position: absolute;
  top: 0;
  right: 0px;
  font-size: 36px;
  margin-right: 32px;
  color: #f34f3f;
}

@media only screen and (max-width: 1024px) {
  .menu {
    display: none;
  }
  .cart {
    display: none;
  }
}

@media only screen and (min-width: 375px) {
  .nav {
    padding: 23px;
  }
  .nav .logo {
    padding-left: 20px;
  }
  .nav .logo a img {
    width: 60%;
  }
  .mobile #mainbox {
    display: block;
    margin-right: 60px;
    font-size: 18px;
  }
}

.banner {
  position: relative;
}

.banner .contents {
  position: absolute;
  top: 100px;
  left: 100px;
  z-index: 1;
  width: 500px;
  height: 400px;
}

.banner .contents h1 {
  min-width: 347px;
  max-width: 347px;
  font-size: 41px;
  line-height: 51px;
  font-weight: 400;
  color: black;
  border-width: 0px;
  margin: 0px;
  padding: 0px;
  min-height: 103px;
  max-height: 103px;
  opacity: 1;
  font-family: "Playfair Display";
}

.banner .contents p {
  min-width: 429px;
  max-width: 429px;
  font-size: 17px;
  line-height: 29px;
  font-weight: 400;
  color: #6d6a6a;
  border-width: 0px;
  margin-top: 20px;
  padding: 0px;
  min-height: 89px;
  max-height: 89px;
  opacity: 1;
}

.banner .contents img {
  width: 197px;
  height: 56px;
  margin-top: 15px;
}

.banner .slide {
  position: relative;
  z-index: -1;
}

.banner .slide .slide-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  width: 100vh;
  height: 477px;
  opacity: 1;
  z-index: 20;
  -webkit-animation: Anime 20s linear infinite;
          animation: Anime 20s linear infinite;
}

.banner .slide .slide-f {
  -webkit-animation: Anime 20s linear infinite;
          animation: Anime 20s linear infinite;
}

@-webkit-keyframes Anime {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes Anime {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  75% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes Anime {
  0% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
  50% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  75% {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.arrow-prev {
  position: absolute;
  top: 50%;
  left: 10px;
}

.arrow-prev .prev-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 1px;
  background: #b5b0b0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.arrow-prev .prev-button::before, .arrow-prev .prev-button::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 100%;
  bottom: 0;
  left: 0;
  background: #b5b0b0;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.arrow-prev .prev-button::before {
  -webkit-transform: rotate(42deg);
          transform: rotate(42deg);
}

.arrow-prev .prev-button::after {
  -webkit-transform: rotate(321deg);
          transform: rotate(321deg);
}

.arrow-right {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 50px;
}

.arrow-right .next-button {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 1px;
  background: #b5b0b0;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
}

.arrow-right .next-button::before, .arrow-right .next-button::after {
  content: "";
  position: absolute;
  width: 9px;
  height: 100%;
  bottom: 0;
  left: 100%;
  background: #b5b0b0;
  -webkit-transform-origin: 0 100%;
          transform-origin: 0 100%;
  opacity: 1;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}

.arrow-right .next-button::before {
  -webkit-transform: rotate(139deg);
          transform: rotate(139deg);
  bottom: 1px;
  left: 100%;
}

.arrow-right .next-button::after {
  -webkit-transform: rotate(225deg);
          transform: rotate(225deg);
  bottom: 1px;
  left: 100%;
}

.arrow-prev:hover .next-button,
.arrow-prev:hover .prev-button,
.arrow-right:hover .next-button,
.arrow-right:hover .prev-button {
  background: #000;
}

.arrow-prev:hover .next-button::before, .arrow-prev:hover .next-button::after,
.arrow-prev:hover .prev-button::before,
.arrow-prev:hover .prev-button::after,
.arrow-right:hover .next-button::before,
.arrow-right:hover .next-button::after,
.arrow-right:hover .prev-button::before,
.arrow-right:hover .prev-button::after {
  background: #000;
}

@media only screen and (max-width: 375px) {
  .banner {
    overflow: hidden;
  }
  .banner .contents p {
    visibility: hidden;
  }
}

.portfolio {
  margin-bottom: 50px;
  margin-top: 60px;
}

.portfolio .portfolio-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.portfolio .portfolio-menu ul li {
  margin-right: 20px;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
  letter-spacing: 1px;
  color: #1b1b1b;
  font-weight: 500;
  cursor: pointer;
}

.portfolio .portfolio-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0;
}

.portfolio .portfolio-item .item {
  margin-top: 20px;
}

.portfolio .portfolio-item .item:hover .img-box {
  overflow: hidden;
}

.portfolio .portfolio-item .item:hover .img-box img {
  -webkit-transform: scale(1.03);
          transform: scale(1.03);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.portfolio .portfolio-item .item:hover .addToCart {
  visibility: visible;
  cursor: pointer;
}

.portfolio .portfolio-item .item:hover .addToCart:hover {
  color: #f34f3f;
}

.portfolio .portfolio-item .item:hover .price {
  visibility: hidden;
}

.portfolio .portfolio-item .item:hover .currency {
  visibility: hidden;
}

.portfolio .portfolio-item .img-box {
  position: relative;
  margin-bottom: 10px;
  height: 100%;
  width: 100%;
}

.portfolio .portfolio-item .img-box img {
  z-index: 2;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  height: auto;
  width: 100%;
  padding: 20px;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.portfolio .portfolio-item .name {
  text-align: center;
  margin-bottom: 10px;
}

.portfolio .portfolio-item .name p {
  margin: 0;
  margin-top: 10px;
}

.portfolio .portfolio-item .order {
  text-align: center;
  position: relative;
}

.portfolio .portfolio-item .order .addToCart {
  position: absolute;
  top: 0;
  left: 120px;
  visibility: hidden;
}

.portfolio .portfolio-item .order .currency {
  visibility: visible;
}

.portfolio .portfolio-item .order .price {
  visibility: visible;
}

@media only screen and (max-width: 1024px) {
  .portfolio-item .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.33333333%;
  }
}

@media only screen and (max-width: 375px) {
  .portfolio-menu {
    display: none;
  }
  .portfolio-item .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

.valentine {
  background-color: #f8f8f8;
}

.valentine .valentine-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 80px 0;
}

.valentine .valentine-content .valentine-image {
  overflow: hidden;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.valentine .valentine-content .valentine-image a {
  position: relative;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.valentine .valentine-content .valentine-image a:hover img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.valentine .valentine-content .valentine-image a img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.valentine .valentine-content .valentine-image a .play i {
  position: absolute;
  top: -40px;
  left: 280px;
  color: #f34f3f;
  padding: 40px;
  background-color: white;
  border-radius: 100%;
  font-size: 25px;
}

.valentine .valentine-content .topic {
  font-family: playfair display,serif;
  letter-spacing: 1px;
  padding-left: 30px;
}

.valentine .valentine-content .topic h2 {
  display: inline;
  font-size: 40px;
  font-weight: 400;
}

.valentine .valentine-content .topic span {
  font-size: 35px;
  color: #f34f3f;
  padding-left: 10px;
  font-weight: 500;
}

.valentine .valentine-content .topic .smile {
  padding-bottom: 25px;
}

.valentine .valentine-content .topic .smile h3 {
  font-size: 40px;
  font-weight: 400;
}

.valentine .valentine-content p {
  padding-left: 30px;
  font-size: 18px;
}

.valentine .valentine-content .loves ul li {
  padding-top: 10px;
  font-family: Lora,serif;
  color: #6d6a6a;
  font-size: 18px;
}

.valentine .valentine-content .loves ul li i {
  margin-right: 15px;
  color: #f34f3f;
}

@media only screen and (max-width: 1024px) {
  .valentine {
    overflow-x: hidden;
  }
  .valentine .valentine-content {
    display: block;
    margin-left: 90px;
  }
  .valentine .valentine-content .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 80%;
  }
  .valentine .valentine-content .topic {
    padding-top: 40px;
  }
}

@media only screen and (max-width: 375px) {
  .valentine .valentine-content {
    display: block;
  }
  .valentine .valentine-content .col-lg-6 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
    padding-right: 180px;
  }
  .valentine .valentine-content .topic {
    padding-top: 40px;
    padding-left: 0;
  }
  .valentine .valentine-content .topic h2 {
    font-size: 25px;
  }
  .valentine .valentine-content .topic span {
    font-size: 25px;
  }
  .valentine .valentine-content .topic .smile h3 {
    font-size: 25px;
  }
  .valentine .valentine-content .topic p {
    padding-left: 0;
    font-size: 15px;
  }
}

.experts {
  margin-top: 100px;
  margin-bottom: 60px;
}

.experts .topic {
  text-align: center;
}

.experts .topic h2 {
  color: #2b2b2b;
  font-family: playfair display, serif;
  font-weight: 400;
}

.experts .topic p {
  font-size: 17px;
  line-height: 29px;
  display: block;
}

.experts .expert-image .florist {
  text-align: center;
}

.experts .expert-image .florist h6 {
  margin-top: 10px;
  font-family: Montserrat;
  font-size: 12px;
  line-height: 2em;
  font-weight: 500;
  letter-spacing: 0.1em;
}

.experts .expert-image .florist span {
  font-size: 12px;
  color: #afafaf;
}

@media only screen and (max-width: 1024px) {
  .expert-image .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 50%;
  }
}

@media only screen and (max-width: 375px) {
  .expert-image .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}

.parallax {
  -o-object-fit: cover;
     object-fit: cover;
}

.parallax .parallax-image .parallax-window {
  min-height: 400px;
  background: transparent;
  position: relative;
}

.parallax .parallax-image .parallax-window .subscribe {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 120px;
}

.parallax .parallax-image .parallax-window .subscribe h3 {
  font-family: playfair display, serif;
  font-weight: 400;
  color: white;
  letter-spacing: 1px;
  font-size: 30px;
  padding-bottom: 25px;
}

.parallax .parallax-image .parallax-window .subscribe .email input {
  width: 25%;
  height: 55px;
  margin-right: -5px;
  outline: none;
  font-size: 12px;
}

.parallax .parallax-image .parallax-window .subscribe .email button {
  height: 55px;
  width: 10%;
  outline: none;
  border: none;
  background-color: #f34f3f;
  color: white;
  font-size: 14px;
  font-weight: 500;
  font-family: Montserrat, sans-serif;
  letter-spacing: 1px;
  -webkit-transition: .3s;
  transition: .3s;
}

.parallax .parallax-image .parallax-window .subscribe .email button:hover {
  background-color: #ee2c0a;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 375px) {
  .parallax .parallax-image .parallax-window .subscribe h3 {
    font-size: 20px;
  }
  .parallax .parallax-image .parallax-window .subscribe .email {
    position: relative;
  }
  .parallax .parallax-image .parallax-window .subscribe .email input {
    width: 70%;
  }
  .parallax .parallax-image .parallax-window .subscribe .email button {
    font-size: 12px;
    width: 40%;
    position: absolute;
    top: 82px;
    left: 101px;
  }
}

.our-blog {
  background-color: #f8f8f8;
  padding: 30px 0;
}

.our-blog .topic {
  text-align: center;
  padding: 50px 0;
}

.our-blog .topic h2 {
  color: #2b2b2b;
  font-family: playfair display, serif;
  font-weight: 400;
}

.our-blog .topic p {
  font-size: 17px;
  line-height: 29px;
  padding: 20px 0;
}

.our-blog .blog-image {
  position: relative;
  overflow: hidden;
  cursor: pointer;
}

.our-blog .blog-image img {
  width: 100%;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.our-blog .blog-image img:hover {
  opacity: 1;
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.our-blog .blog-image span {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: white;
  padding: 8px 23px;
  font-size: 12px;
  letter-spacing: 1px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.our-blog .blog-image span:hover {
  color: #f34f3f;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.our-blog .about {
  text-align: center;
}

.our-blog .about h4 {
  color: #2b2b2b;
  font-family: playfair display, serif;
  font-weight: 400;
  margin: 20px 0;
}

.our-blog .about p {
  font-size: 15px;
}

.florist {
  margin-top: 50px;
  margin-bottom: 60px;
}

.florist .testSlider {
  position: relative;
  width: 80%;
}

.florist .testSlider .sliders-test {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  padding: 0 100px;
}

.florist .testSlider .sliders-test .img-box {
  position: relative;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}

.florist .testSlider .sliders-test .img-box img {
  display: block;
  margin: 0 auto;
}

.florist .testSlider .sliders-test .slider-description {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: middle;
  margin-top: 50px;
}

.florist .testSlider .sliders-test .slider-description .text {
  color: #4b4747;
  font-style: italic;
  font-size: 24px;
  line-height: 1.5em;
  text-align: center;
  width: 70%;
  margin: auto;
}

.florist .testSlider .sliders-test .slider-description .about {
  display: block;
  text-align: center;
}

.florist .testSlider .sliders-test .slider-description .about .name {
  display: block;
}

.florist .testSlider .sliders-test .slider-description .about .professional {
  color: #4b4747;
}

.florist .testSlider .arrow-prev {
  left: 100px;
}

.florist .testSlider .arrow-right {
  right: 100px;
}

@media only screen and (max-width: 375px) {
  .florist .testSlider {
    width: 150%;
  }
  .florist .testSlider .arrow-prev {
    visibility: hidden;
  }
  .florist .testSlider .arrow-right {
    visibility: hidden;
  }
  .florist .testSlider .sliders-test .slider-description .text {
    font-size: 20px;
    width: 110%;
  }
}

.content {
  background-color: #fefaf3;
}

.content .content-info {
  padding: 30px 0;
}

.content .content-info .customer-company-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content .content-info .customer-company-social ul {
  font-family: Montserrat;
  font-weight: 400;
}

.content .content-info .customer-company-social ul li:first-child {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
}

.content .content-info .customer-company-social ul li a {
  font-size: 12px;
  color: #8b8b8b;
}

.content .content-info .customer-company-social ul li a:hover {
  color: #f34f3f;
}

.content .content-info .archive {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.content .content-info .archive ul {
  font-family: Montserrat;
  font-weight: 400;
}

.content .content-info .archive ul li:first-child {
  margin-bottom: 15px;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
}

.content .content-info .archive ul li a {
  font-size: 12px;
  color: #8b8b8b;
  -webkit-transition: .3s;
  transition: .3s;
}

.content .content-info .archive ul li a:hover {
  color: #f34f3f;
  -webkit-transition: .3s;
  transition: .3s;
}

.content .content-info .line {
  width: 100%;
  height: 1px;
  background-color: #eceae1;
}

.content .content-info .license {
  margin-top: 20px;
  text-align: center;
}

.content .content-info .license .text {
  color: #afafaf;
  font-size: 12px;
}

.content .content-info .license .text a {
  color: #6d6a6a;
  -webkit-transition: .3s;
  transition: .3s;
}

.content .content-info .license .text a:hover {
  color: #f34f3f;
  -webkit-transition: .3s;
  transition: .3s;
}

.content .content-info .media a {
  color: #afafaf;
  font-size: 10px;
  letter-spacing: 2px;
  margin-left: 15px;
  -webkit-transition: .3s;
  transition: .3s;
}

.content .content-info .media a:hover {
  color: #f34f3f;
  -webkit-transition: .3s;
  transition: .3s;
}

@media only screen and (max-width: 375px) {
  .content .content-info {
    display: block;
  }
  .content .content-info .customer-company-social {
    display: block;
  }
  .content .content-info .archive {
    display: block;
  }
}

.mob-ver {
  height: 100%;
  width: 0;
  position: fixed;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 5px 10px gray;
          box-shadow: 5px 10px gray;
  z-index: 9999999999999999999999999999999;
  top: 0;
  right: 0;
  background-color: #fff;
  overflow-x: hidden;
  padding-top: 60px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@media screen and (max-height: 450px) {
  .mob-ver {
    padding-top: 15px;
  }
  .mob-ver a {
    font-size: 18px;
  }
}

.mob-ver .mob-ver-list {
  padding: 40px;
}

.mob-ver .active {
  background-color: green;
  color: white;
}

.mob-ver .dropdown-container {
  display: none;
  background-color: transparent;
  padding-left: 8px;
}

.mob-ver .fa-caret-down {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.mob-ver .dropdown-btn {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #1b1b1b;
  display: block;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
  cursor: pointer;
  outline: none;
}

.mob-ver a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 11px;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #8b8b8b;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  padding: 11px 0;
}

.mob-ver a:hover {
  color: #f1f1f1;
}

.mob-ver .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: red;
}

#main {
  -webkit-transition: margin-left 0.5s;
  transition: margin-left 0.5s;
  padding: 20px;
}

.sticky-menu {
  top: -88px;
  width: 100%;
  z-index: 10;
  position: fixed;
  background: #fff;
  -webkit-animation-duration: 0.7s;
          animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

.scroll-up {
  width: 45px;
  right: 15px;
  z-index: 5;
  height: 45px;
  bottom: 20px;
  display: none;
  position: fixed;
  line-height: 45px;
  background-color: #f34f3f;
  display: block;
  text-align: center;
  text-decoration: none;
}

.scroll-up i {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
}

.scroll-up i::before {
  content: "\f077";
  color: white;
}

.header-fixed {
  position: fixed;
  width: 100%;
  z-index: 9999999999999;
  background-color: #fff;
  top: 0;
  left: 0;
  right: 0;
  -webkit-animation-duration: 0.9s;
          animation-duration: 0.9s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
          animation-name: fadeInDown;
  -webkit-animation-timing-function: ease;
          animation-timing-function: ease;
  -webkit-transition: 0.5s all ease-in-out;
  transition: 0.5s all ease-in-out;
  -webkit-box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 0px 18px 1px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 1024px) {
  .header-fixed {
    display: none;
  }
}

@media only screen and (max-width: 375px) {
  .header-fixed {
    display: none;
  }
}

.product-list .bg-col {
  background-color: #fafafa;
  padding: 40px;
}

.product-list .bg-col .topic-list h2 {
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 40px;
}

.product-list .bg-col .topic-list p {
  font-family: Lora, serif;
  font-size: 17px;
  font-style: italic;
  text-transform: none;
  letter-spacing: 0;
  color: #6d6a6a;
}

.orange {
  margin: 100px 0;
}

.orange .left-side {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.orange .left-side .sm-image ul li {
  margin-bottom: 15px;
}

.orange .left-side .sm-image ul li a img {
  width: 60%;
  height: auto;
}

.orange .left-side .big-image a img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
  padding-right: 50px;
}

.orange .right-side .top h2 {
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  font-size: 35px;
}

.orange .right-side .top span {
  color: grey;
}

.orange .right-side .top p {
  padding: 20px 0;
  color: grey;
}

.orange .right-side .count {
  display: inline;
  border: 1px solid #c2c1c1;
  padding: 14px;
  margin-bottom: 20px;
}

.orange .right-side .count span {
  color: grey;
  padding-left: 17px;
}

.orange .right-side .count i {
  margin-left: 20px;
}

.orange .right-side button {
  border: none;
  outline: none;
  background-color: black;
  color: white;
  width: 170px;
  height: 50px;
  letter-spacing: 1px;
  font-size: 14px;
}

.orange .right-side p {
  font-size: 12px;
  margin-top: 20px;
}

#prod-tabs {
  border: none;
  height: 300px;
  margin: 80px 0;
}

#prod-tabs #tabs-1 h2 {
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
  margin-bottom: 20px;
}

#prod-tabs #tabs-2 strong {
  font-size: 12px;
  display: inline;
}

#prod-tabs #tabs-2 span {
  margin-left: 15px;
  font-size: 13px;
  color: grey;
}

#prod-tabs #tabs-3 h2 {
  color: #2b2b2b;
  font-family: "Playfair Display", serif;
  font-weight: 400;
}

#prod-tabs #tabs-3 .members {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px 0;
}

#prod-tabs #tabs-3 .members .member-img img {
  width: 100%;
}

#prod-tabs #tabs-3 .members .member-info {
  margin: 5px;
}

#prod-tabs #tabs-3 .members .member-info .mem-name {
  color: black;
  letter-spacing: 1.5px;
  font-size: 15px;
}

#prod-tabs #tabs-3 .members .member-info span {
  color: grey;
  font-size: 12px;
}

#prod-tabs #tabs-3 .information textarea {
  width: 100%;
  outline: none;
}

#prod-tabs #tabs-3 .information input {
  outline: none;
  height: 50px;
}

#prod-tabs #tabs-3 .information button {
  border: none;
  outline: none;
  background-color: #f34f3f;
  color: white;
  width: 150px;
  height: 50px;
  font-size: 13px;
  letter-spacing: 1px;
}

#prod-tabs .ui-tabs-active {
  background-color: #f34f3f;
}

#prod-tabs .ui-tabs-active a {
  color: white;
}

#prod-tabs ul {
  padding: 0;
  margin: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}

#prod-tabs ul li {
  height: 60px;
  width: 155px;
  background-color: white;
  border: 1px solid #eee;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: none;
}

#prod-tabs ul li:nth-child(2) {
  height: 60px;
  width: 350px;
}

#prod-tabs ul li a {
  font-size: 13px;
  letter-spacing: 1.5px;
  margin: 0;
  padding: 15px 55px;
  color: black;
}

#prod-tabs .ui-tabs-panel {
  border: 1px solid #e4e3e3;
  border-left: none;
  border-right: none;
  padding: 55px 0;
}

#prod-tabs .ui-tabs-panel p {
  color: grey;
}

.prod-items {
  margin-bottom: 150px;
  margin-top: 100px;
}

.prod-items h2 {
  font-size: 13px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.prod-items .item-image {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.prod-items .item-image:hover .name-item .hide {
  visibility: visible;
}

.prod-items .item-image:hover .name-item span {
  visibility: hidden;
}

.prod-items .item-image:hover .image {
  overflow: hidden;
  -webkit-transition: .3s;
  transition: .3s;
}

.prod-items .item-image:hover .image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .3s;
  transition: .3s;
}

.prod-items .item-image .image {
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.prod-items .item-image .image span {
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: #f34f3f;
  padding: 2px 10px;
  color: white;
  font-family: Lora, serif;
  z-index: 1;
}

.prod-items .item-image .image img {
  width: 100%;
  z-index: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
  -webkit-transition: .3s;
  transition: .3s;
}

.prod-items .item-image .name-item {
  text-align: center;
  margin-top: 10px;
  position: relative;
}

.prod-items .item-image .name-item span {
  display: block;
  color: #c4bdbd;
  font-size: 12px;
  visibility: visible;
}

.prod-items .item-image .name-item .hide {
  position: absolute;
  bottom: 0;
  left: 110px;
  visibility: hidden;
}

@media only screen and (max-width: 375px) {
  .product-list .bg-col {
    width: 152%;
  }
  .orange {
    margin-bottom: 0;
  }
  .orange .right-side {
    margin-left: 40px;
  }
  .orange .right-side .top h2 {
    margin-top: 20px;
  }
  .orange .right-side .top p {
    width: 80%;
    text-align: justify;
  }
  .orange .right-side button {
    margin-top: 20px;
  }
  #prod-tabs {
    margin-bottom: 60px;
  }
  #prod-tabs #tabs-3 {
    margin-bottom: 1000px;
  }
  #prod-tabs #tabs-3 h2 {
    font-size: 40px;
  }
  #prod-tabs #tabs-3 .members .member-img img {
    width: 800%;
  }
  #prod-tabs #tabs-3 .members .member-info {
    margin-left: 120px;
  }
  #prod-tabs #tabs-3 .members .member-info .mem-name {
    font-size: 18px;
  }
  #prod-tabs #tabs-3 .information {
    margin-left: 40px;
  }
  #prod-tabs #tabs-3 .information textarea {
    width: 100%;
    border-top: 1px solid;
  }
  #prod-tabs #tabs-3 .information input {
    border-top: 1px solid;
  }
  #prod-tabs ul {
    display: block;
  }
  #prod-tabs ul li {
    border: 1px solid #f3f2f2;
  }
  .prod-items {
    margin-bottom: 150px;
    margin-top: 350px;
    margin-left: 40px;
  }
}

.accordion .acc-topic {
  background-color: #f7f7f7;
  padding: 0;
}

.accordion .acc-topic h1 {
  color: black;
  font-family: "Playfair Display", serif;
  padding: 80px 0;
  font-weight: 400;
}

.accordion .tab {
  margin-top: 100px;
}

.accordion .tab ul {
  padding-left: 0;
}

.accordion .tab ul .acc.active .schedule {
  background-color: #f34f3f;
}

.accordion .tab ul .acc.active .schedule .schedule-text {
  color: white;
}

.accordion .tab ul .acc.active .minus {
  visibility: visible;
}

.accordion .tab ul .acc.active .plus {
  visibility: hidden;
}

.accordion .tab ul .acc.active .panel {
  height: 100px;
  margin-top: 30px;
  visibility: visible;
}

.accordion .tab ul .schedule {
  outline: none;
  border: 1px solid #f1efef;
  width: 100%;
  height: 50px;
  background-color: transparent;
  text-align: start;
  letter-spacing: 1px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
}

.accordion .tab ul .schedule:hover {
  background-color: #f34f3f;
  color: white;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.accordion .tab ul .schedule:hover .minus {
  visibility: visible;
  -webkit-transition: 0.2s;
  transition: 0.2s;
  color: white;
}

.accordion .tab ul .schedule:hover .plus {
  visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.accordion .tab ul .schedule:hover span {
  color: white;
}

.accordion .tab ul .schedule .schedule-text {
  margin-left: 20px;
  font-size: 12px;
  color: #1d1d1d;
}

.accordion .tab ul .schedule .schedule-text span {
  margin-left: 10px;
}

.accordion .tab ul .panel {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-family: Lora, serif;
  line-height: 1.6em;
  font-weight: 400;
  font-size: 15px;
}

.accordion .tab ul .minus {
  position: absolute;
  top: 18px;
  left: 20px;
  visibility: hidden;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.accordion .tab ul .plus {
  visibility: visible;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.accordion .acc-line p {
  width: 100%;
  height: 2px;
  border-top: 1px solid #e7e4e4;
  margin-top: 130px;
}

.accordion .tab2 {
  margin: 100px 0;
}

.accordion .tab2 ul {
  padding-left: 0;
}

.accordion .tab2 ul .acc2.active2 .schedule2 .schedule-text2 {
  color: #f34f3f;
}

.accordion .tab2 ul .acc2.active2 .minus2 {
  visibility: visible;
}

.accordion .tab2 ul .acc2.active2 .plus2 {
  visibility: hidden;
}

.accordion .tab2 ul .acc2.active2 .panel2 {
  height: 100px;
  margin-top: 30px;
  visibility: visible;
}

.accordion .tab2 ul .schedule2 {
  outline: none;
  border: none;
  border-bottom: 1px solid #f1efef;
  width: 100%;
  height: 50px;
  background-color: transparent;
  text-align: start;
  letter-spacing: 1px;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  font-weight: 500;
}

.accordion .tab2 ul .schedule2:hover {
  color: #f34f3f;
}

.accordion .tab2 ul .schedule2:hover .minus2 {
  visibility: visible;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  color: #f34f3f;
}

.accordion .tab2 ul .schedule2:hover .plus2 {
  visibility: hidden;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.accordion .tab2 ul .schedule2:hover span {
  color: #f34f3f;
}

.accordion .tab2 ul .schedule2 .schedule-text2 {
  margin-left: 20px;
  font-size: 12px;
  color: #1d1d1d;
}

.accordion .tab2 ul .schedule2 .schedule-text2 span {
  margin-left: 10px;
}

.accordion .tab2 ul .panel2 {
  -webkit-transition: 0.8s;
  transition: 0.8s;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  font-family: Lora, serif;
  line-height: 1.6em;
  font-weight: 400;
  font-size: 15px;
}

.accordion .tab2 ul .minus2 {
  position: absolute;
  top: 19px;
  left: 20px;
  -webkit-transition: 0.1s;
  transition: 0.1s;
}

.accordion .tab2 ul .plus2 {
  visibility: visible;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

@media only screen and (max-width: 1024px) {
  .accordion .tab ul .schedule {
    width: 80%;
  }
  .accordion .tab2 ul .schedule2 {
    width: 80%;
  }
}

.prog .prog-topic {
  background-color: #f7f7f7;
  padding: 0;
}

.prog .prog-topic h1 {
  color: black;
  font-family: "Playfair Display", serif;
  padding: 80px 0;
  font-weight: 400;
  text-align: start;
}

.prog .bar {
  margin-top: 100px;
}

.prog .bar .container ul li {
  margin-top: 15px;
}

.prog .bar .container ul li span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #2b2b2b;
  font-family: "Playfair Display",serif;
  font-weight: 400;
  font-size: 23px;
}

.prog .bar .container ul li .loading {
  position: relative;
}

.prog .bar .container ul li .loading .download-prog {
  width: 100%;
  height: 3px;
  background-color: #ece2e2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.prog .bar .container ul li .loading .download-prog .download-prog-bar {
  width: 0%;
  height: 3px;
  background-color: #f34f3f;
}

.prog .bar .container ul li .loading .download-prog .download-prog-bar2 {
  width: 0%;
  height: 3px;
  background-color: #f34f3f;
}

.prog .bar .container ul li .loading .download-prog .download-prog-bar3 {
  width: 0%;
  height: 3px;
  background-color: #f34f3f;
}

.prog .bar .container ul li .loading .percentage {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  color: black;
  font-size: 20px;
  top: -30px;
  right: 0;
}

.prog .bar .container ul li .loading .percentage2 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  color: black;
  font-size: 20px;
  top: -30px;
  right: 0;
}

.prog .bar .container ul li .loading .percentage3 {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: absolute;
  color: black;
  font-size: 20px;
  top: -30px;
  right: 0;
}

.prog .bar .prog-line p {
  width: 100%;
  height: 2px;
  border-top: 1px solid #e7e4e4;
  margin-top: 130px;
  margin-bottom: 100px;
}

.section {
  padding: 120px 0;
}

.tab-topic {
  width: 100%;
  height: 225px;
  background-color: #f7f7f7;
  z-index: 1;
}

.tab-topic h1 {
  color: black;
  font-family: "Playfair Display", serif;
  padding: 80px 0;
  font-weight: 400;
}

#tabs {
  border: none;
  height: 300px;
}

#tabs .ui-tabs-active {
  background-color: #f34f3f;
  color: white;
}

#tabs ul {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

#tabs ul li {
  height: 50px;
  width: 155px;
  background-color: white;
  border: 1px solid #eee;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-bottom: none;
}

#tabs ul li a {
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0;
  padding: 15px 55px;
}

#tabs .ui-tabs-panel {
  border: 1px solid #e4e3e3;
  padding: 55px 45px;
}

#tabs .ui-tabs-panel p {
  color: grey;
}

#tabs-right {
  border: none;
}

#tabs-right .ui-tabs-active {
  background-color: #f34f3f;
  color: white;
}

#tabs-right ul {
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
}

#tabs-right ul li {
  height: 50px;
  width: 155px;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #f1f1f1;
  border: none;
}

#tabs-right ul li:hover {
  background-color: #f34f3f;
}

#tabs-right ul li a {
  font-size: 13px;
  letter-spacing: 1px;
  margin: 0;
  padding: 15px 55px;
}

#tabs-right ul li a:hover {
  color: white;
}

#tabs-right .ui-tabs-panel {
  border: 1px solid #e4e3e3;
  padding: 55px 45px;
}

#tabs-right .ui-tabs-panel p {
  color: grey;
  overflow: hidden;
}

.prog-line p {
  width: 100%;
  height: 2px;
  border-top: 1px solid #e7e4e4;
  margin-bottom: 100px;
}

#full-tabs {
  border: none;
}

#full-tabs .ui-tabs-active a {
  color: #f34f3f;
}

#full-tabs ul {
  padding: 0;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
}

#full-tabs ul li {
  height: 50px;
  width: 155px;
  text-align: center;
  margin: 0;
  padding: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: transparent;
  position: relative;
  border: none;
}

#full-tabs ul li a {
  font-size: 13px;
  letter-spacing: 1.2px;
  position: absolute;
  top: 0;
  left: -7px;
}

#full-tabs .ui-tabs-panel {
  border: 1px solid #e4e3e3;
  border-left: none;
  border-right: none;
  padding: 55px 0px;
  margin-bottom: 100px;
}

#full-tabs .ui-tabs-panel p {
  color: grey;
  overflow: hidden;
}

.ui-tabs-vertical {
  width: 100%;
}

.ui-tabs-vertical .ui-tabs-nav {
  padding: .2em .1em .2em .2em;
  float: left;
  width: 12em;
}

.ui-tabs-vertical .ui-tabs-nav li {
  clear: left;
  width: 100%;
  border-bottom-width: 1px;
  border-right-width: 0;
  margin: 0 -1px .2em 0;
}

.ui-tabs-vertical .ui-tabs-nav a {
  display: block;
}

.ui-tabs-vertical .ui-tabs-nav li.ui-tabs-active {
  padding-bottom: 0;
  padding-right: .1em;
  border-right-width: 1px;
}

.ui-tabs-vertical .ui-tabs-panel {
  display: inline-block;
  vertical-align: top;
  width: calc(100% - 155px);
  padding: 13px 32px;
  height: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 1px solid #eee;
}

#last-tab {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border: none;
  margin-bottom: 100px;
}

#last-tab ul {
  background-color: white;
  border: none;
  padding: 0;
}

#last-tab ul li {
  width: 100%;
  border: 1px solid #f1f1f1;
  background-color: white;
  margin-bottom: -1px;
}

#last-tab ul li a {
  padding: 20px 15px;
  width: 100%;
  text-align: center;
  font-size: 13px;
  letter-spacing: 1px;
}

#last-tab ul li a:hover {
  background-color: #f34f3f;
  color: white;
}

#last-tab .ui-tabs-active {
  border: 1px solid #d4d0d0;
  color: white;
  background-color: #f34f3f;
}

@media only screen and (max-width: 1024px) {
  #tabs {
    height: 400px;
    overflow-x: hidden;
    border: none;
    overflow-x: hidden;
  }
  #tabs ul li {
    height: 30px;
    width: 120px;
  }
  #tabs .ui-tabs-panel {
    border: 1px solid #e4e3e3;
  }
  #tabs .ui-tabs-panel p {
    color: grey;
    width: 300px;
    text-align: justify;
  }
  #tabs-right {
    height: 400px;
    overflow-x: hidden;
  }
  #tabs-right ul li {
    height: 30px;
    width: 120px;
  }
  #tabs-right ul .ui-tabs-panel {
    border: 1px solid #e4e3e3;
  }
  #tabs-right ul .ui-tabs-panel p {
    color: grey;
    width: 300px;
    text-align: justify;
  }
}

@media only screen and (max-width: 375px) {
  #tabs {
    height: 400px;
    overflow: hidden;
    border: none;
  }
  #tabs ul li {
    height: 30px;
    width: 80px;
    border-bottom: 1px solid;
  }
  #tabs ul li a {
    font-size: 10px;
  }
  #tabs .ui-tabs-panel {
    border: 1px solid #e4e3e3;
    padding: 20px;
  }
  #tabs .ui-tabs-panel p {
    color: grey;
    width: 300px;
    text-align: left;
    font-size: 8px;
  }
  #tabs-right {
    height: 400px;
    overflow-x: hidden;
  }
  #tabs-right ul li {
    height: 30px;
    width: 80px;
  }
  #tabs-right .ui-tabs-panel {
    border: 1px solid #e4e3e3;
    padding: 20px;
  }
  #tabs-right .ui-tabs-panel p {
    color: grey;
    text-align: start;
    font-size: 8px;
  }
  #last-tab {
    display: block;
    text-align: center;
  }
  #last-tab ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .ui-tabs-vertical .ui-tabs-panel {
    width: 100%;
  }
}

.shop-topic {
  width: 100%;
  height: 225px;
  background-color: #f7f7f7;
  z-index: 1;
}

.shop-topic h1 {
  color: black;
  font-family: "Playfair Display", serif;
  padding: 80px 0;
  font-weight: 400;
}

.shop-items {
  margin: 100px 0;
}

.shop-items .item-image {
  position: relative;
  -webkit-transition: .3s;
  transition: .3s;
}

.shop-items .item-image:hover .text-hover {
  display: block;
  -webkit-transition: .3s;
  transition: .3s;
}

.shop-items .item-image:hover .image {
  opacity: .3;
  -webkit-transition: .3s;
  transition: .3s;
}

.shop-items .item-image:hover .image span {
  z-index: 10;
}

.shop-items .item-image .image {
  position: relative;
}

.shop-items .item-image .image span {
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: #f34f3f;
  padding: 2px 10px;
  color: white;
  font-family: Lora, serif;
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.shop-items .item-image .image img {
  width: 100%;
  z-index: 1;
  -webkit-transition: .3s;
  transition: .3s;
}

.shop-items .item-image .text-hover {
  text-align: center;
  position: absolute;
  top: 120px;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  -webkit-transition: .3s;
  transition: .3s;
}

.shop-items .item-image .text-hover h6 {
  font-size: 13px;
  letter-spacing: 1px;
}

.shop-items .item-image .text-hover span {
  display: block;
  margin-bottom: 30px;
  color: grey;
}

.shop-items .item-image .text-hover a {
  padding: 13px 25px;
  background-color: #f34f3f;
  display: inline;
  color: white;
  font-size: 13px;
  letter-spacing: 1.5px;
  font-family: Lora , serif;
}

.shop-items .item-image .text-hover a:hover {
  background-color: #eb3323;
  -webkit-transition: .3s;
  transition: .3s;
}

.img-items {
  -webkit-transition: .3s;
  transition: .3s;
  overflow: hidden;
}

.img-items .image-name:hover .img-item {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
  -webkit-transition: .3s;
  transition: .3s;
}

.img-items .image-name .img-item img {
  width: 100%;
  height: auto;
  -webkit-transition: .3s;
  transition: .3s;
}

.img-items .image-name .item-name {
  text-align: center;
}

.img-items .image-name .item-name p {
  margin: 7px 0;
  font-size: 15px;
}

.img-items .image-name .item-name span {
  font-size: 13px;
  color: #c2b6b6;
}

.shop-item-items {
  margin: 100px 0;
}

.shop-item-items .slider-shop-box {
  position: relative;
  padding-right: 20px;
}

.shop-item-items .slider-shop-box .shop-slide-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
}

.shop-item-items .slider-shop-box .arrow-button .arrow-prev, .shop-item-items .slider-shop-box .arrow-button .arrow-right {
  position: relative;
}

.shop-item-items .slider-shop-box .arrow-button .arrow-prev i, .shop-item-items .slider-shop-box .arrow-button .arrow-right i {
  font-size: 20px;
  margin-right: 20px;
}

.shop-item-items .slider-shop-box .arrow-button .arrow-prev i {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.shop-item-items .slider-shop-box .arrow-button .arrow-right i {
  -webkit-transform: rotate(270deg);
          transform: rotate(270deg);
}

.shop-item-items h2 {
  font-size: 13px;
  letter-spacing: 1.5px;
  margin-bottom: 10px;
}

.shop-item-items .item-image {
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-right: 20px;
}

.shop-item-items .item-image:hover .name-item .hide {
  visibility: visible;
}

.shop-item-items .item-image:hover .name-item span {
  visibility: hidden;
}

.shop-item-items .item-image:hover .image {
  overflow: hidden;
}

.shop-item-items .item-image:hover .image img {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.shop-item-items .item-image .image {
  position: relative;
}

.shop-item-items .item-image .image span {
  position: absolute;
  top: 10px;
  left: 15px;
  background-color: #f34f3f;
  padding: 2px 10px;
  color: white;
  font-family: Lora, serif;
  z-index: 1;
}

.shop-item-items .item-image .image img {
  width: 100%;
  z-index: 1;
  -webkit-transform: scale(1);
          transform: scale(1);
}

.shop-item-items .item-image .name-item {
  text-align: center;
  margin-top: 10px;
  position: relative;
}

.shop-item-items .item-image .name-item span {
  display: block;
  color: #c4bdbd;
  font-size: 12px;
  visibility: visible;
}

.shop-item-items .item-image .name-item .hide {
  position: absolute;
  bottom: 0;
  left: 110px;
  visibility: hidden;
}

@media only screen and (max-width: 1024px) {
  .shop-items {
    width: 80%;
    margin-left: 100px;
  }
  .shop-items .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.333%;
  }
  .img-items {
    width: 80%;
    margin-left: 100px;
  }
  .img-items .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 33.333%;
  }
}

@media only screen and (max-width: 375px) {
  .shop-items {
    overflow-x: hidden;
    margin: 0;
    margin-left: 50px;
  }
  .shop-items .col-lg-3 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
  .img-items {
    margin: 0;
    margin-left: 50px;
  }
  .img-items .col-lg-2 {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */