.banner {
  position: relative;
  .contents {
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 1;
    width: 500px;
    height: 400px;
    h1 {
      min-width: 347px;
      max-width: 347px;

      font-size: 41px;
      line-height: 51px;
      font-weight: 400;
      color: rgba(0, 0, 0, 1);

      border-width: 0px;
      margin: 0px;
      padding: 0px;
      min-height: 103px;
      max-height: 103px;
      opacity: 1;
      font-family: "Playfair Display";
    }
    p {
      min-width: 429px;
      max-width: 429px;

      font-size: 17px;
      line-height: 29px;
      font-weight: 400;
      color: rgb(109, 106, 106);

      border-width: 0px;
      margin-top: 20px;
      padding: 0px;
      min-height: 89px;
      max-height: 89px;
      opacity: 1;
    }
    img {
      width: 197px;
      height: 56px;
      margin-top: 15px;
    }
  }
  .slide {
    position: relative;
    z-index: -1;

    .slide-img {
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center center;
      width: 100vh;
      height: 477px;
      opacity: 1;

      z-index: 20;
      animation: Anime 20s linear infinite;
    }
    .slide-f {
      animation: Anime 20s linear infinite;
    }
    @keyframes Anime {
      0% {
        transform: scale(1);
      }
      50% {
        transform: scale(1.05);
      }
      75% {
        transform: scale(1.1);
      }
      100% {
        transform: scale(1.2);
      }
    }
    @keyframes Anime {
      0% {
        transform: scale(1.2);
      }
      50% {
        transform: scale(1.1);
      }
      75% {
        transform: scale(1.05);
      }
      100% {
        transform: scale(1);
      }
    }
  }
}
.arrow-prev {
  position: absolute;
  top: 50%;
  left: 10px;
  .prev-button {
    position: relative;
    display: inline-block;

    width: 50px;
    height: 1px;
    background: #b5b0b0;
    transform: rotate(0deg);

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 9px;
      height: 100%;
      bottom: 0;
      left: 0;
      background: #b5b0b0;
      transform-origin: 0 100%;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
    &::before {
      transform: rotate(42deg);
    }
    &::after {
      transform: rotate(321deg);
    }
  }
}
.arrow-right {
  position: absolute;
  top: 50%;
  right: 10px;
  width: 50px;

  .next-button {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 1px;
    background: #b5b0b0;
    transform: rotate(0deg);

    &::before,
    &::after {
      content: "";
      position: absolute;
      width: 9px;
      height: 100%;
      bottom: 0;
      left: 100%;
      background: #b5b0b0;
      transform-origin: 0 100%;
      opacity: 1;
      transition: opacity 0.3s ease-in-out;
    }
    &::before {
      transform: rotate(139deg);
      bottom: 1px;
      left: 100%;
    }
    &::after {
      transform: rotate(225deg);
      bottom: 1px;
      left: 100%;
    }
  }
}
.arrow-prev,
.arrow-right {
  &:hover {
    .next-button,
    .prev-button {
      background: #000;
      &::before,
      &::after {
        background: #000;
      }
    }
  }
}

@media only screen and (max-width: 375px) {
  .banner {
    overflow: hidden;
    .contents {
      p {
        visibility: hidden;
      }
    }
  }
}
