.experts {
  margin-top: 100px;
  margin-bottom: 60px;
  .topic {
    text-align: center;
    h2 {
      color: #2b2b2b;
      font-family: playfair display, serif;
      font-weight: 400;
    }
    p {
      font-size: 17px;
      line-height: 29px;
      display: block;
    }
  }

  .expert-image {
    .florist {
      text-align: center;

      
      h6 {
        margin-top: 10px;
        font-family: Montserrat;
        font-size: 12px;
        line-height: 2em;
        font-weight: 500;
        letter-spacing: 0.1em;
      }
      span {
        font-size: 12px;
        color: #afafaf;
      }
    }
  }
}
@media only screen and (max-width: 1024px) {
    .expert-image{
      .col-lg-3{
        flex: 0 0 auto;
    width: 50%;
      }
    }
  }
 
  @media only screen and (max-width: 375px) {
    .expert-image{
      .col-lg-3{
        flex: 0 0 auto;
    width: 100%;
      }
    }
  }
