.our-blog{
    background-color: #f8f8f8;
    padding: 30px 0;
    .topic{
        text-align: center;
        padding: 50px 0;
       
        h2{
            color: #2b2b2b;
            font-family: playfair display,serif;
            font-weight: 400; 
            
        }
        p{
            font-size: 17px;
             line-height: 29px;
             padding: 20px 0;
        }
    }
    .blog-image{
        position: relative;
        overflow: hidden;
        cursor: pointer;
       
        img{
            width: 100%;
            transition: .3s;
            transform: scale(1);
            
            
           
            &:hover{
                opacity: 1;
                transform: scale(1.05); 
                background-position: center;
                transition: .3s;
                
                
               
               
              
            }
        }
        span{
            position: absolute;
            top: 10px;
            left: 10px;
            background-color: white;
            padding: 8px 23px;
            font-size: 12px;
            letter-spacing: 1px;
            transition: .3s;
            &:hover{
                color: $primary-color;
                transition: .3s;
                
            }
        }
    }
    .about{
        text-align: center;
        
        h4{
            color: #2b2b2b;
            font-family: playfair display,serif;
            font-weight: 400;
            margin: 20px 0;
        }
        p{
            font-size: 15px;
        }
    }
}