.product-list{
   .bg-col{
       background-color: #fafafa;
       padding: 40px;
.topic-list{
    margin-left: 110px;
        h2{
            font-family: "Playfair Display",serif;
            font-weight: 400;
            font-size: 40px;
        }
        p{
            font-family: Lora,serif;
            font-size: 17px;
            font-style: italic;
            text-transform: none;
            letter-spacing: 0;
            color: #6d6a6a;
        }
    }
   }
    
    .orange{
       
        .sm-img{
            width: 100%;
            img{
            
            }
        }
        .bg-img{
            img{

            }
        }
        .right-side{
          .top{
              h2{

              }
              span{

              }
              p{


              }
          }  
          .count{
              label{

              }
              input{

              }
              button{

              }
              p{
                  
              }
          }
        }
    }
}